body {
	text-align: center;
	margin-top: 4%;
	background-color: lightgrey;
}

h1 {
	font-family: 'Rye', cursive;
	font-size: 70px;
	margin-bottom: 7%;
}

h2 {
	font-family: 'Rye', cursive;
	font-size: 35px;
	margin-bottom: 15px;
	margin-top: 4%;
}

ul {
	list-style-type: none; 
}

li {
	font-family: 'Rye', cursive;
	font-size: 30px;
}

#board {
	font-family: 'Special Elite', cursive;
	font-size: 55px;
	color: red;
}

p {
	color: red;
	font-size: 40px;
	font-family: 'Special Elite', cursive;
}

#guess {
	color: red;
	font-size: 40px;
	font-family: 'Special Elite', cursive;
}

