body {
	text-align: center;
	margin-top: 12%;
	background-color: brown;
	background-image: url('hangman.jpg');
}

h1 {
	font-family: 'Rye', cursive;
	font-size: 50px;
	margin-bottom: 7%;
}

h2 {
	font-family: 'Rye', cursive;
	font-size: 35px;
	margin-bottom: 15px;
	margin-top: 4%;
}

ul {
	list-style-type: none; 
}

li {
	font-family: 'Rye', cursive;
	font-size: 30px;
}

#board {
	font-family: 'Special Elite', cursive;
	font-size: 55px;
	color: red;
}

